{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lecture update</title>
    <link rel="stylesheet" type="text/css" href="../static/css/lectureUpload/lecture-style.css">

</head>
<script>
    if (document.getElementById("fileinp") !== '') {
        var FileList = document.getElementById("fileinp")
        var List = "";
        for (var i = 0; i < fileMes.files.length; i++) {
            var file = fileMes.files[i];
            List.innerHTML += '<p>文件名：' + file.name + '</p>';
            List.style.display = 'block';
        }
        document.getElementById("fileList").innerHTML = List
    }
</script>
<body>
<div class="main-box">
    <div class="left-block">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>{{ form }}</label>
            <input type="submit" class="btn btn-primary" value="批量上传"/>
        </form>
    </div>
    <div class="right-block">
        <label id="fileList"></label>
    </div>
    <div class="row" style="margin-top: 50px;">
    <form class="form-inline" id="excelForm" action="/index" method="post" enctype="multipart/form-data">
        <div class="form-group" style="margin-left: 30px">
            <label for="fileupload">浏览:</label>
            <label>{{ form }}</label>
{#            <input id="fileupload" type="file" name="fileupload" accept=".xls,.xlsx" multiple="multiple" style="display:none;" />#}
            <input type='text' class="form-control" name='textfield' id='textfield' autocomplete="off" readonly="readonly" />
            <input id="excelImport" type="button" value="浏览" class="btn btn-primary" />
        </div>
        <div class="form-group" style="margin-left: 20px">
            <label for="input_second">用户名：</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="" autocomplete="off">
        </div>
        <div class="form-group" style="margin-left: 20px">
            <label for="input_third">密码：</label>
            <input type="text" class="form-control" name="secret" id="secret" placeholder="" autocomplete="off">
        </div>
        <button type="button" id="uploadSubmit" class="btn btn-danger" style="color: #FFFFFF;background-color: #10B47D;font-size:15px; padding: 0px 16px 0px !important;height:30px;">提交</button>

    </form>
</div>
<script>
    $(document).ready(function() {

        $("#excelImport").click(function() {
            $('#fileupload').click();
        });

        $("#uploadSubmit").click(function() {

            $('#excelForm').submit();
        });


        $('#fileupload').change(function(){
            document.getElementById("textfield").value =
            document.getElementById("fileupload").files[0].name;
        })
    });
</script>
</div>
</body>
{#<body>#}
{#    <table border="1">#}
{#        <form action="lectureUpdate" method="post">#}
{#            {% csrf_token %}#}
{#            <P>#}
{#                <label >用户名:</label>#}
{#                <input type="text" name ='name'/>#}
{#            </P>#}
{#            <P>#}
{#                <label>密码：</label>#}
{#                <input type="text" name='password'/>#}
{#            </P>#}
{#            <p><input type="submit" value="提交"/></p>#}
{#        </form>#}
{#        <thead>#}
{#        <tr>#}
{#            <td>用户名</td>#}
{#            <td>密码</td>#}
{#        </tr>#}
{#        </thead>#}
{#        {%for line in form%}#}
{#            <tr>#}
{#                <td>{{line.name}}</td>#}
{#                <td>{{line.password}}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{#    </body>#}
</html>