<html>
<head>
    <meta charset="UTF-8">
    <title>Upload your file</title>
    <base href="/">
</head>
<body>
    <form action="/questionRecord/userinfo" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            Code:<input type="test" name="code">
            <br>
            Name:<input type="test" name="name">
            <br>
            userinfo:<input type="test" name="userinfo">
            <br>
            iv:<input type="test" name="iv">
        </p>
        <button type="submit">Click</button>
    </form>
</body>
</html>