<html>
<head>
    <meta charset="UTF-8">
    <title>Upload your file</title>
    <base href="/">
</head>
<body>
    <form action="/questionRecord/getNotesCollection/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            commonUserID:<input type="test" name="commonUserID">
        </p>
        <p>
            level:<input type="test" name="level">
        </p>
        <p>
            questionID:<input type="test" name="questionID">
        </p>
        <button type="submit">Click</button>
    </form>
</body>
</html>