*.pyc
__pycache__/
*.log
.idea/AI_teaching_project-main.iml
.idea/misc.xml
.idea/webServers.xml
.idea/sshConfigs.xml
.idea/other.xml
.idea/webServers.xml
.idea/sshConfigs.xml
.idea/misc.xml
.idea/deployment.xml
.idea/AI_teaching_project-main.iml
/miniproject/key/
/.idea/
