.main-box {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-block {
    width: 12rem;
    height: 8rem;
    background-color: aquamarine;
}

.right-block {
    width: 12rem;
    height: 8rem;
    background-color: aquamarine;
}

.bg-info {}