.main-box {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-block {
    width: 20rem;
    height: 25rem;
    background-color: white;
    margin-right: 5rem;
    border-radius: 1rem;
}

.right-block {
    width: 20rem;
    height: 25rem;
    background-color: white;
    border-radius: 1rem;
}

.bg-info {

}

label{
    position: relative;
}
#fileinp{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
#btn{
    margin-right: 5px;
}
#text{
    color: red;
}